<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
  {% if messages %}
<ul class="messages">
    {% for message in messages %}
      <div class="alert alert-danger mb-2 mt-2">
                <p class="mb-0">{{ message }}</p>
            </div>
    {% endfor %}
</ul>
{% endif %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger mb-2 mt-2">
                <p class="mb-0">{{ error|escape }}</p>
            </div>

        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger mb-2 mt-2">
                <p class="mb-0">{{ error|escape }}</p>
            </div>
    {% endfor %}
{% endif %}

<div class="mb-10">
<label>Логин*</label>
{{ form.login }}
</div>
<div class="mb-10">
<label>Пароль</label>
    {{form.password}}
</div>
                <input type="submit" name='action' value="Войти" class="register-button mt-0 float-none w-100">

    </form>
</body>
</html>